body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #007bff;
}

.team-container {
  display: flex;
  justify-content: space-between;
}

.team {
  width: 48%;
}

.team-section {
  width: 48%; /* Adjust the width as needed */
  margin: 20px;
}

.team-section h2 {
  color: #007bff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.add-player-section {
  margin: 20px;
}

.add-player-section h2 {
  color: #007bff;
}

.add-player-section label {
  margin-right: 8px;
}

.add-player-section input, select {
  margin: 4px;
}

.event-section {
  margin: 20px;
}

.event-section h2 {
  color: #007bff;
}

.event-section label {
  margin-right: 8px;
}

.event-section input, select {
  margin: 4px;
}

.event-table {
  margin: 20px;
}

.event-table h2 {
  color: #007bff;
}

.event-table table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.event-table table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.save-section {
  margin: 20px;
}


.quarter-selection button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.quarter-selection .active {
  background-color: #007bff;
  color: #fff;
}

.timer-section {
  margin-top: 20px;
}

.timer {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.timer h2 {
  margin-right: 10px;
}

.timer span {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.timer button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

#videoPlayer {
  width: 98%; /* 设置播放器的宽度 */
   /* 设置播放器的高度 */
}

#videoArea {
      position: relative;
      width: 800px;
      height: 450px;
      background-color: #000;
    }
    
.left-button-container button {
  background-color: rgba(255, 255, 255, 0.5);
}

/* 按钮区域样式 */
#buttonsContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  display: none; /* 默认隐藏按钮区域 */
}

/* 按钮样式 */
.button {
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}

/* 左侧按钮样式 */
#leftButtonsContainer {
  opacity: 1;
}

/* 右侧按钮样式 */
#rightButtonsContainer {
  opacity: 1;
}

/* 按钮悬停样式 */
.button:hover {
  opacity: 0.7;
}

.button-container .active1 {
  background-color: #3802b5;
}

.button-container .active2 {
  background-color: #f53105;
}

.button-container .active3 {
  background-color: #486b50;
}

.button-container .active4 {
  background-color: #8a7178;
}

.centered-button::before {
  content: attr(data-letter); /* 使用伪元素的 content 属性设置字母内容 */
  position: absolute;
  top: 5px; /* 调整字母的位置 */
  left: 5px; /* 调整字母的位置 */
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.centered-button {
  position: absolute;
  padding: 1% .9%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* 调整按钮位置和样式 */
#pauseButton {
  top: 10%;
  left: 50%;
  transform: translateY(-50%);
}

#rewindButton {
  top: 10%;
  left: 5%;
  transform: translateY(-50%);
}

#playButton {
  top: 10%;
  left: 10%;
  transform: translateY(-50%);
}

#fastForwardButton {
  top: 10%;
  left: 15%;
  transform: translateY(-50%);
}

#leftButton1 {
  top: 10%;
  left: 4%;
  transform: translateY(-50%);
}

#leftButton2 {
  top: 10%;
  left: 11%;
  transform: translateY(-50%);
}

#leftButton3 {
  top: 17%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton4 {
  top: 17%;
  left: 12%;
  transform: translateY(-50%);
}

#leftButton5 {
  top: 17%;
  left: 19%;
  transform: translateY(-50%);
}

#leftButton6 {
  top: 24%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton7 {
  top: 31%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton8 {
  top: 38%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton9 {
  top: 45%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton10 {
  top: 52%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton11 {
  top: 59%;
  left: 5%;
  transform: translateY(-50%);
}

#leftButton12 {
  top: 66%;
  left: 5%;
  transform: translateY(-50%);
}



#rightButton1 {
  top: 10%;
  left: 80%;
  transform: translateY(-50%);
}

#rightButton2 {
  top: 10%;
  left: 87%;
  transform: translateY(-50%);
}

#rightButton3 {
  top: 17%;
  left: 74%;
  transform: translateY(-50%);
}

#rightButton4 {
  top: 17%;
  left: 81%;
  transform: translateY(-50%);
}

#rightButton5 {
  top: 17%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton6 {
  top: 24%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton7 {
  top: 31%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton8 {
  top: 38%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton9 {
  top: 45%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton10 {
  top: 52%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton11 {
  top: 59%;
  left: 88%;
  transform: translateY(-50%);
}

#rightButton12 {
  top: 66%;
  left: 88%;
  transform: translateY(-50%);
}



#centeredButton1 {
  top: 10%;
  left: 27%;
  transform: translateY(-50%);
}
#centeredButton2 {
  top: 10%;
  left: 31.5%;
  transform: translateY(-50%);
}
#centeredButton3 {
  top: 10%;
  left: 36%;
  transform: translateY(-50%);
}
#centeredButton4 {
  top: 10%;
  left: 40.5%;
  transform: translateY(-50%);
}
#centeredButton5 {
  top: 10%;
  left: 45%;
  transform: translateY(-50%);
}
#centeredButton6 {
  top: 10%;
  left: 49.5%;
  transform: translateY(-50%);
}
#centeredButton7 {
  top: 10%;
  left: 54%;
  transform: translateY(-50%);
}
#centeredButton8 {
  top: 10%;
  left: 58.5%;
  transform: translateY(-50%);
}
#centeredButton9 {
  top: 10%;
  left: 63%;
  transform: translateY(-50%);
}
#centeredButton10 {
  top: 10%;
  left: 67.5%;
  transform: translateY(-50%);
}
#infoButton1 {
  top: 17%;
  left: 27%;
  transform: translateY(-50%);
}
#infoButton2 {
  top: 17%;
  left: 37%;
  transform: translateY(-50%);
}
#infoButton3 {
  top: 17%;
  left: 47%;
  transform: translateY(-50%);
}
#infoButton4 {
  top: 17%;
  left: 57%;
  transform: translateY(-50%);
}
#infoButton5 {
  top: 24%;
  left: 26%;
  transform: translateY(-50%);
}
#infoButton6 {
  top: 24%;
  left: 36%;
  transform: translateY(-50%);
}
#infoButton7 {
  top: 24%;
  left: 46%;
  transform: translateY(-50%);
}
#highlightButton1 {
  top: 92%;
  left: 46%;
  transform: translateY(-50%);
}
#highlightButton2 {
  top: 92%;
  left: 52%;
  transform: translateY(-50%);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
        /* 模态框样式 */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
